.background {
    background-color: rgb(223, 223, 223);
}

.container {
  position: relative;
  width: 1000px;
  display: block;
  margin: auto;
  height: auto;
}

.globeImage {
  position: absolute;
  margin-left: auto;
  height: auto;
  width: 1000px;
  z-index: -10;
}

.icon {
  width: 25px;
}

/* globe map - city set-outs */
.manchester {
  position: absolute;
  top: 175px;
  left: 460px;
  z-index: 1;
}

.copenhagen {
  position: absolute;
  top: 170px;
  left: 495px;
  z-index: 1;
}

.la {
  position: absolute;
  top: 235px;
  left: 205px;
  z-index: 1;
}


/* globe map - city set-outs for media max-width 900px */
@media all and (max-width:900px) {
  .container {
    width: 890px;
  }

  .globeImage {
    width: 890px;
  }

  .icon {
    width: 20px;
  }

  .manchester {
    position: absolute;
    top: 153px;
    left: 409px;
    z-index: 1;
  }

  .copenhagen {
    position: absolute;
    top: 143px;
    left: 441px;
    z-index: 1;
  }

  .la {
    position: absolute;
    top: 210px;
    left: 180px;
    z-index: 1;
  }

}

/* globe map - city set-outs for media max-width 700px */
@media all and (max-width:700px) {
  .container {
    width: 690px;
  }

  .globeImage {
    width: 690px;
  }

  .icon {
    width: 15px;
  }

  .manchester {
    position: absolute;
    top: 125px;
    left: 315px;
    z-index: 1;
  }
  
  .copenhagen {
    position: absolute;
    top: 110px;
    left: 335px;
    z-index: 1;
  }

  .la {
    position: absolute;
    top: 160px;
    left: 140px;
    z-index: 1;
  }

}


/* globe map - city set-outs for media max-width 400px */
@media all and (max-width:400px) {
  .container {
    width: 300px;
  }

  .globeImage {
    width: 300px;
  }

  .icon {
    width: 10px;
  }

  .manchester {
    position: absolute;
    top: 45px;
    left: 130px;
    z-index: 1;
  }
  
  .copenhagen {
    position: absolute;
    top: 42px;
    left: 145px;
    z-index: 1;
  }

  .la {
    position: absolute;
    top: 65px;
    left: 55px;
    z-index: 1;
  }


  


}

